/* GENERAL STYLE */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

/* HERO SECTION */
.hero {
  background: #111;
  color: white;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 10px 0 20px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 40px 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

/* SERVICES */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-box {
  background: #eee;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  background: #222;
  color: white;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  padding: 15px;
  margin-top: 20px;
}